<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<!-- Clarity Section -->
<div class="container" style="background-color:#f1f1f1" >
  <div class="row-30">
    <div class="column-1">
      <p class="large-font" style="color:darkblue;"><b>Task Board</b></p>
        <%= link_to "Create Task",new_task_path %>
      <div align="right">
        <%= form_for 'project', :url => {:action => "create"}, :method => "get" do |f| %>
      
          <%= f.collection_select :id, Project.where(:user_id=>current_user.id), :id, :name, :include_blank => true, autofocus:true %>&emsp;
          <%= f.submit "Filter Tasks" %>&emsp;&emsp;&emsp;
        <% end %>
      </div>
      <table cellpadding="20">
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Status</th>
          <th>Task_Time</th>
          <th>Due Date</th>
          <th>Project Name</th>
        </tr>
        <% @task.each do |data| %>
        <tr>
          <td><%= data.name %></td>
          <td><%= data.title %></td>
          <td><%= data.status %></td>
          <td><%= data.task_time %> Hours</td>
          <td><%= data.task_date %></td>
          <td><%= link_to data.project.name, tasks_path(project_id: data.project_id) %></td>
        </tr>
        <% end %>                  
      </table>
    </div>
  </div>
</div>
</body>
</html>