<!DOCTYPE html>
<html>
<head>
	<title>Show Tasks</title>
</head>
<body>
<h1>Show Tasks</h1>

   <table cellpadding="20">
      <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Status</th>
      <th>Task_Time</th>
      <th>Due Date</th>
      </tr>
      <tr>
      <td><%= @task.name %></td>
      <td><%= @task.title %></td>
      <td><%= @task.status %></td>
      <td><%= @task.task_time %> Hours</td>
      <td><%= @task.task_date %></td>
      </tr>
      </table>


</body>
</html>