<h1>Hello PMS user</h1>
<i><%= current_user.email %></i>
<p>Created at:<%= current_user.created_at %></p>
<p>Updated at:<%= current_user.updated_at %></p>
<p>veera:<%= current_user.id %></p>
<span><%= link_to "New", new_user_registration_path, :class => 'navbar-link'  %></span>