<% if admin_signed_in? %>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title"><%= current_admin.email %></h4>
      <p class="card-text">Name : <%= current_admin.name %><br><br>Admin Role : <%= current_admin.role %></p>
      <%= link_to 'Admin Page', '/admin', :class => 'navbar-link' %>
    </div>
  </div>
<% end %>


<% if user_signed_in? %>
<div class="card-group">
<div class="card text-white bg-info mb-3" style="max-width: 30rem;max-height: 40rem">
  <div class="card-header">Personal Details</div>
  <div class="card-body">
    <h4 class="card-title"><%= current_user.name %></h4>
    <br><p class="card-text">Name : <%= current_user.name %></p><br>
    <p class="card-text">Gender : <%= current_user.gender %></p><br>
    <p class="card-text">Date of Birth : <%= current_user.dob %></p><br>
    <p class="card-text">Address : <%= current_user.address %></p><br>
    <p class="card-text">Contact No : <%= current_user.mobile %></p><br>
  </div>
</div>

<div class="card text-white bg-secondary mb-3" style="max-width: 30rem;">
  <div class="card-header">Account Details</div>
  <div class="card-body">
    <h4 class="card-title"><%= current_user.email %></h4>
    <br><p class="card-text">Email : <%= current_user.email %></p><br>
    <p class="card-text">Job Role : <%= current_user.role %></p><br>
    <p class="card-text">Current Sign in : <%= current_user.current_sign_in_at.to_date%></p><br>
    <p class="card-text">Last Sign in : <%= current_user.last_sign_in_at.to_date %></p><br>
    <p class="card-text">No of Sign in Count : <%= current_user.sign_in_count %></p><br>
    <p class="card-text">No of Projects : <%= Project.where(:user_id=>current_user.id).count() %></p><br>
  </div>
</div>

<div class="card text-black bg-warning mb-3" style="max-width: 30rem;">

  <div class="card-header">User Details</div>
  <div class="card-body" align="center">
    
    <div class="card" style="width:350px">
    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
    <div class="card-body" align="left">
      <h4 class="card-title"><%= current_user.email %></h4>
      <p class="card-text">Name : <%= current_user.name %><br><br>Job Role : <%= current_user.role %></p>
    </div>
  </div>
  </div>
</div>
</div>
<% end %>
