<!DOCTYPE html>
<html>
<head>
<title>Edit Projects</title>
</head>
<body>
<!-- Clarity Section -->

    <div class="card bg-info text-white">
    <div class="card-body">Projects</div>
    </div>

    <div class="card bg-default text-black">
    <div class="card-body">
      <%= link_to "Create Project",new_project_path %> | <%= link_to 'Tasks', tasks_path, :class => 'navbar-link' %> | <%= link_to 'Attachments', project_attachments_path, :class => 'navbar-link' %>
      </div>
    </div>

    <div class="card bg-default text-black">
    <div class="card-body">
      <table cellpadding="20">
      <tr>
      <th>User Name</th>
      <th>Project Name</th>
      <th>Project Type</th>
      <th>Edit Project</th>
      <th>View Tasks</th>
      </tr>
      <% @project.each do |data| %>
      <tr>
      <td><%= current_user.name %></td>
      <td><%= data.name %></td>
      <td><%= link_to data.project_type,projects_path(project_type: data.project_type)%></td>
      <td><%= link_to "Edit",edit_project_path(data.id) %></td>
      <td><%= link_to "#{data.name} Tasks", tasks_path(project_id: data.id) %></td>
      </tr>
      <% end %>                  
      </table>
    </div>
  </div>
</body>
</html>