<!DOCTYPE html>
<html>
<head>
<title>Project Files</title>
</head>
<body>

<!-- Clarity Section -->
<div class="card bg-info text-white">
<div class="card-body">Project Attachments</div>
</div>

<div class="card bg-white text-black">
<div class="card-body"><%= link_to 'Create Attachment',new_project_attachment_path,:class => 'navbar-link' %></div>
</div>

<div class="card bg-white text-black">
<div class="card-body" align="center">
      <div align="right">
        <%= form_for 'project', :url => {:action => "create"}, :method => "get" do |f| %>
          <%= f.collection_select :id, Project.where(:user_id=>current_user.id), :id, :name, :include_blank => true, autofocus:true %>&emsp;
          <%= f.submit "Filter Attachments" %>&emsp;&emsp;&emsp;
        <% end %>
      </div>
      <table cellpadding="20">
        <tr>
            <th>User Name</th>
            <th>File Name</th>
            <th>File Type</th>
            <th>File Size</th>
            <th>Project Name</th>
            <th>File Path</th>
        </tr>
        <% @project_attachment.each do |data| %>
        <tr>
            <td><%= current_user.name %></td>
            <td><%= data.avatar_file_name %></td>
            <td><%= data.avatar_content_type %></td>
            <td><%= data.avatar_file_size %> Bytes</td>
            <td><%= data.project.name %></td>
            <td><%= link_to 'View', image_url(data.avatar.url()), target: '_blank' %></td>
        </tr>
        <% end %>                  
      </table>
</div>
</div>
</body>
</html>