<!DOCTYPE html>
<html>
<head>
  <title>user registration</title>
</head>
<body>

<!-- Clarity Section -->
<div class="card bg-info text-white">
<div class="card-body">Edit <%= resource_name.to_s.humanize %> Profile</div>
</div>
      
<div class="card bg-white text-black">
<div class="card-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <table cellpadding="10">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, autofocus: true%></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td><%= f.label :current_password %><br><small>(we need your current password to confirm your changes)</small></td>
        <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <td>Select Gender: </td>
        <td>
            <%= f.radio_button :gender, "Male" %>
            <%= f.label :gender_male, "Male" %>
            <%= f.radio_button :gender, "Female" %>
            <%= f.label :gender_female, "Female" %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :dob, "Date of Birth:" %></td>
        <td><%= f.text_field :dob %></td>
      </tr>
      <tr>
        <td><%= f.label :role, "Select Role:" %></td>
        <td><%= f.select :role, ["","Trainee","Associate","Developper"] %></td>
      </tr>
      <tr>
        <td><%= f.label :org_id, "Select Organization:" %></td>
        <td><%= f.collection_select :org_id, Org.order('org_name ASC').all, :id, :org_name, :include_blank => true %></td>
      </tr>
      <tr>
        <td><%= f.label :address, "Enter Addresss:" %></td>
        <td><%= f.text_area :address, size: "20*30" %></td>
      </tr>
      <tr>
        <td><%= f.label :mobile, "Enter Mobile Number:" %></td>
        <td><%= f.telephone_field :mobile %></td>
      </tr>
      <tr>
        <td><%= f.submit "Update" %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
  </table>
  <% end %>
</div>
</div>

<div class="card bg-info text-white">
<div class="card-body">Delete Account</div>
</div>

<div class="card bg-secondary text-white" align="center">
<div class="card-body">
<h3>Cancel My account</h3>
<p>Are You Unhappy with your Account ? <%= button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
</div>

</body>
</html>

